/* 
 * Author: Michal Zavadil, Brno University of Technology - Faculty of Information Technology
 * Copyright: Copyright 2022, OPM Editor
 * Made for Bachelor's Thesis - Agile Model Editor
 * License: MIT
*/

* {
	box-sizing: border-box;
}

#root {
	background-color: #dee2e6;
	height: 100%;
}

.app {
	text-align: center;
	/* margin-left: 50px; */
	/* margin-right: 50px; */
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.flex-vertical-wrapper {
	display: flex;
	flex-flow: column;
	height: 100vh;
}

.top-toolbar-wrapper {
	height: 50px;
}

.top-toolbar {
	height: 100%;
	border-bottom: 2.5px #adb5bd solid;
	display: flex;
	flex-flow: row;
	justify-content: space-between;
}

.top-toolbar-right{
	display: flex;
	align-items: center;
}

.top-toolbar .app-title {
	margin-bottom: 0px;
	margin: 5px;
	margin-left: 15px;
}

.propagation-wrapper {
	display: flex;
	flex-direction: column;
	margin: 3px;
	margin-right: 20px;
}
.flex-horizontal-wrapper {
	flex: 1;
	overflow: hidden;
	display: flex;
	flex-flow: row;
}

.left-sidebar-wrapper {
	height: auto;
	flex: 0 0 150px;
}

.diagram-canvas-wrapper {
	flex: 1 1 auto;
	overflow: hidden;
}

.top-toolbar .demo-selection {
	margin: 5px;
	width: 120px;
}

.left-sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	border: 2.5px #adb5bd solid;
	border-top: 0px;
	border-left: 0px;
	background-color: #ffffff;
	/* spatne */
}

.diagram-canvas {
	position: relative;
	text-align: left;
	height: 100%;
	width: 100%;
	background-color: #ffffff;
}

.display-block {
	display: block;
}

.export-icon {
	font-size: 36px;
	height: 100%;
}

.top-toolbar .export-button {
	padding: 0px;
	border: 0px;
	margin: 5px;
	height: fit-content;
}

.renameDialog{
	background-color: #dee2e6;
	padding: 5px;
	border: black 1.5px solid;
}
.renameDialog > * {
	margin: 2px;
}
.renameDialog > button {
	border-width: 0;
	background-color: white;
	border-radius: 2px;
}

.renameDialog > button:hover {
	color: #1890ff;
	transition: 0.3s;
}

.renameDialog > input {
	border: black 1.5px solid;
	border-radius: 2px;
}

.cytoscapeEdgeSelectionCard {
	width: 100%;
	height: 100%;
}
