*{
  box-sizing: border-box;
}

.app {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
  height: 100vh;
  position: relative;
  overflow: hidden;
}

.flex-wrapper{
  display: flex;
  height: 100%;
}

.top-toolbar{
  border: 3px blue solid;
  height: 5%;
}

.left-sidebar{
  border: 3px blue solid;
  width: 20%;
  display: flex;
  flex-direction: column;
}

.diagram-canvas {
  border: 3px blue solid;
  position: relative;
  height: 95%;
  width: 80%;
  text-align: left;
}


.display-block{
  display:block
}
